.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 1.5rem;
}

article {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 3fr;
  margin-bottom: 2em;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.head {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: baseline;
}

.title {
  flex: 1 0 auto;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating button {
  height: 2rem;
  width: 2rem;
}

.rating h3 {
  margin: 0 1rem;
}

.delete {
  padding: .7em;
  margin-left: 2em;
  font-size: 1.5rem;
  max-width: max-content;
}

.addGame {
  border-top: thin solid black;
  text-align: center;
  margin-bottom: 2rem;
}

.addGame input {
  border: none;
  border-bottom: thin solid black;
  font-size: 1.5rem;
}

.addGame input::placeholder {
  font-size: 1.5rem;
}

.addGame input:first-of-type {
  border-right: thin solid black;
  width: 300px;
}

.addGame input:nth-of-type(2) {
  width: 150px;
}

.addGame button {
  margin-left: 1rem;
  background-color: lightgreen;
  border: none;
  font-size: 1.5rem;
}

.addGame input,
.addGame button {
  height: 3rem;
  padding: 0 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}